@model Annu.Models.Product

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h4>Product Details</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">

                    <tr>
                        <td><label>Title:</label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label>Quantity:</label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label>Price:</label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label>Image:</label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label>Descriptions:</label></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
